[Unit]
Description=Detect camera module change
After=droid-hcismd-up.service
Conflicts=shutdown.target actdead.target

[Service]
Type=oneshot
ExecStart=/bin/sh /usr/bin/droid/droid-cameradetect.sh
RemainAfterExit=yes
