[Unit]
Description=droid-wlan-up
After=droid-late-start.service
Before=network.target
Conflicts=shutdown.target actdead.target

[Service]
Type=oneshot
ExecStart=/bin/sh /usr/bin/droid/droid-wlan-up.sh
RemainAfterExit=yes

[Install]
WantedBy=basic.target
