[Unit]
Description=Load wifi module
After=droid-late-start.service
Before=network.target
Conflicts=shutdown.target actdead.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStartPre=/bin/touch /dev/wcnss_wlan
ExecStartPre=/bin/sleep 10
ExecStart=/sbin/modprobe pronto_wlan
ExecStop=/sbin/rmmod wlan
Restart=on-failure
RestartSec=2

[Install]
WantedBy=basic.target
